# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Flickr8k dataset images
dataset/Flickr8k_Dataset/Images/

# Generated model artifacts
artifacts/image_features.pt

# OS files
.DS_Store
Thumbs.db